# Ch0. 들어가는 글
## 1.알고리즘
- 어떤 문제를 풀기 위한 절차나 방법

## 2. 알고리즘 분석
- 문제를 푸는 여러가지 방법, 즉 여러가지 알고리즘이 있음
- 어떤 알고리즘이 어떤 특징을 지니고 있으며, 얼마나 계산이 빠르고 편한지 등을 알아야함

## 3. 파이썬

In [ ]:
import math  # 수학 모듈

In [ ]:
"""
절대값 알고리즘 1 (부호 판단)
입력: 실수 a
출력: a의 절댓값
"""

def abs_sign(a):
    if a >= 0:
        return a
    else:
        return -a

In [ ]:
"""
절대값 알고리즘 2 (제곱근)
입력: 실수 a
출력: a의 절댓값
"""

def abs_square(a):
    b = a ** 2
    return math.sqrt(b)

In [ ]:
print(abs_sign(5))
print(abs_square(5))

5
5.0

---

# 첫째 마당: 알고리즘 기초
## 문제 01. 1부터 n까지의 합 구하기

In [ ]:
def sum_n(n):
    s = 0
    for i in range(1, n+1):
        s = s + i
    return s

print(sum_n(10))
print(sum_n(100))

55
5050

In [ ]:
def sum_n2(n):
    return n * (n + 1) // 2

print(sum_n2(10))
print(sum_n2(100))

55
5050

### 계산 복잡도
- 계산이 얼마나 복잡한지 나타낸 정도
- 빅 오 표기법을 많이 사용
    - 입력 크기와의 관계로 표현
    - ex) O(2n) -> O(n)


- 위의 첫 번째 방법은 O(n)
    - 필요한 계산 횟수가 입력 크기 n과 **비례**할 때
- 두 번째 방법은 O(1)
    - 필요한 계산 횟수가 입력 크기 n과 **무관**할 때

### 연습문제

In [ ]:
# 1-1 

def sum_square(n):
    s = 0
    for i in range(1, n+1):
        s += i ** 2
    return s 

print(sum_square(10))

385

1-2: 위의 알고리즘의 시간복잡도: O(n)

In [ ]:
# 1-3

def sum_square2(n):
    return (n * (n+1) * (2*n + 1) // 6)

print(sum_square2(10))

# 시간복잡도: O(1)

385

## 문제 02. 최댓값 찾기

In [ ]:
"""
lst 내의 첫번째 숫자를 최댓값으로 설정
다음 숫자와 비교, 크면 새로운 숫자가 최댓값
반복
"""

def find_max(lst):
    n = len(lst)
    max_v = lst[0]
    for i in range(1, n):
        if lst[i] > max_v:
            max_v = lst[i]
    return max_v 

lst = [18, 92, 19, 33, 58, 7, 33, 42]
print(find_max(lst))

92

- for 문 동안 비교를 한다. (n-1 번)
- O(n)

In [ ]:
"""
최댓값의 위치 알려주는 알고리즘
"""

def find_max_idx(lst):
    n = len(lst)
    max_idx = 0
    for i in range(1, n):
        if lst[i] > lst[max_idx]:
            max_idx = i
    return max_idx

print(find_max_idx(lst))

1

### 연습문제

In [ ]:
# 2-1

def find_min(lst):
    n = len(lst)
    min_v = lst[0]
    for i in range(1, n):
        if lst[i] < min_v:
            min_v = lst[i]
    return min_v

print(find_min(lst))

7

## 문제03. 동명이인 찾기 1

### 집합, set
- 같은 자료가 중복되어 들어가지 않음
- 자료의 순서도 의미가 없음, non sequence
- `.discard()` : 자료 있다면 삭제, 없어도 에러 x

In [ ]:
{1, 2} == {2, 1}

True

In [ ]:
"""
첫 번째 이름은 2~ n 까지 비교
x 번쨰 이름은 x+1 ~ n 까지 비교
"""

def find_same_name(a):
    n = len(a)
    result = set()
    for i in range(0, n-1):
        for j in range(i+1, n):
            if a[i] == a[j]:
                result.add(a[i])
    return result

name = ["Tom", "Jerry", "Mike", "Tom"]
print(find_same_name(name))

{'Tom'}

- 0 + 1 + ... + (n-1)번 
- O(n^2)

### 연습문제

In [ ]:
# 3-1

def make_couple(a):
    n = len(a)
    for i in range(n-1):
        for j in range(i+1, n):
            if a[i] != a[j]:
                print(f'{a[i]} - {a[j]}')

a = ["Tom", "Jerry", "Mike"]
make_couple(a)

Tom - Jerry
Tom - Mike
Jerry - Mike

3-2 
- 65536 : O(1)
- n-1 : O(n)
- O(n^2)
- O(n^4)